  ////////////////////////////////
 // FORM ELEMENTS ///////////////
////////////////////////////////



fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    &:last-child { margin-bottom: 0; }
}

label {
	color: rgba(255, 255, 255, .5);
	padding: 0;
    &.checked {
        color: #FFF;
    }
}

select {
    border: 0;
    background: rgba(255, 255, 255, .07);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    height: 25px;
    outline: none;
    width: 100%;
}