  //////////////////////////////////////
 // GLOBAL SCREEN /////////////////////
//////////////////////////////////////



* {
  box-sizing: border-box;
}

// Custom Scrollbar
::-webkit-scrollbar {
  background: $navy; 
  width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $navy; 
}

::-webkit-scrollbar-track {
  background: $navy;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: $teal;
  border-radius: 10px;
  stroke: 1px solid blue;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  background: $navy;
  color: $navy;
  font-family: $nunito;
  font-size: 100%;
  font-size: 16px;
  height: 100vh;
  height: 100%;
  line-height: 1.5em;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}