  ////////////////////////////////
 // VARS ////////////////////////
////////////////////////////////



// COLORS
$white : #ECF0F1;
$grey : #666;
$teal : #008080;
$navy : #141D40;



// Dimensions
$maxWidth : 1440px;