@keyframes rotate {
  0% {
    transform: rotate(-360deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes headerFadeOut {
  0% {
    background: #ECF0F1; }
  100% {
    background: rgba(190, 238, 251, 0.3); } }

.dashboard {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  margin: 0 0 1%;
  overflow: hidden;
  opacity: 0;
  padding: 5px 10px;
  animation: .25s fadeIn forwards ease-in; }
  @media screen and (max-width: 414px) {
    .dashboard {
      margin-bottom: 3%; } }
  .dashboard li {
    float: left; }
    .dashboard li.refresh-feed {
      float: right; }
      @media screen and (max-width: 195px) {
        .dashboard li.refresh-feed {
          float: none;
          text-align: center; } }
    @media screen and (max-width: 195px) {
      .dashboard li {
        float: none;
        width: 100%; }
        .dashboard li label {
          font-size: 14px;
          padding-left: 10px; }
          .dashboard li label:before {
            top: 0; }
          .dashboard li label:after {
            left: -9px;
            top: 3px; } }
  .dashboard fieldset {
    margin: 7px 0 0 20px; }
  .dashboard .toggle-feed {
    display: block; }
  .dashboard .refresh-board {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #11cece;
    font-size: 30px;
    height: 30px;
    outline: none;
    padding: 0;
    position: relative;
    top: 2px;
    transition: .3s ease-in;
    width: 30px; }
    .dashboard .refresh-board:hover {
      color: #ECF0F1;
      transform: rotate(360deg); }
