  //////////////////////////////////
 // STRUCTURE /////////////////////
//////////////////////////////////



.outer-bounds {
	position: relative;
	padding: 3%;

	&__inner {
		display: table;
		width: 100%;
	}

} // end outer bounds