  ///////////////////////////////////////////
 // CUSTOM CHECKBOXES /////////////////////
/////////////////////////////////////////
@import './mixins';



// Base for label styling
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

// checkbox aspect
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .65);
  box-shadow: none;
  content: '';
  height: 15px;
  left: -15px;
  position: absolute;
  top: 1px;
  width: 15px;
  @include max-screen(255px){
    top: -1px;
  }
  @include max-screen(190px){
      top: -2px;
  }
}


// checked mark aspect
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '•';
    color: rgba(17, 206, 206, 1);
    font-size: 15px;
    left: -9.5px;
    line-height: 0.8;
    position: absolute;
    top: 4px;
    transition: all .2s;
    @include max-screen(414px){
      left: -9px;
    }
    @include max-screen(255px){
      top: 2px;
    }
    @include max-screen(190px){
      top: 1px;
    }
}
// checked mark aspect changes
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(.5);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
// disabled checkbox
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #FFF;
  background-color: transparent;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #000;
}
[type="checkbox"]:disabled + label {
  color: #000;
}
