  //////////////////////////////////////////////
 // HEADER ////////////////////////////////////
//////////////////////////////////////////////
@import '../../styles/1_core/_vars';
@import '../../styles/0_utility/_movement';
@import '../../styles/0_utility/_mixins';



header {
	animation-timing-function: ease-in;
    background: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $navy;
    margin-bottom: 5%;
    overflow: hidden;
    .logo {
    	float: left;
		font-size: 16px;
	    font-weight: 100;
	    margin: 3px 0 0 15px;
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        @include max-screen(290px){
            display: none;
        }
    }
} // End Header