  //////////////////////////////////////////////
 // BOARD OPTIONS /////////////////////////////
//////////////////////////////////////////////
@import '../../styles/0_utility/mixins';
@import '../../styles/1_core/vars';
@import '../../styles/0_utility/_movement';



// Board Global
.board-options {
	animation: .25s fadeIn forwards ease-in;
	opacity: 0;
	h1, h3, p, a { color: #FFF; }
	transition: .3s linear;

	h1 {
		color: $teal;
	    font-size: 28px;
	    font-weight: 100;
	    line-height: 28px;
	    margin-bottom: 15px;
	    padding: 0 15px;
	    text-shadow: -1px 1px 7px rgba(64, 70, 177, 0.84);
	    text-transform: uppercase;
	    @include max-screen(960px){
	    	font-size: 24px;
	    }
	    @include max-screen(320px){
	    	font-size: 23px;
	    }
	    @include max-screen(255px){
	    	font-size: 20px;
	    	margin-bottom: 0;
	    	padding: 0 5px;
	    }
	    @include max-screen(195px){
	    	font-size: 18px;
	    }
	}
	h3 {
		color: rgba(255, 255, 255, 0.80);
		font-size: 20px;
		font-weight: 800;
		line-height: 18px;
		text-transform: uppercase;
		@include max-screen(960px){
			font-size: 18px;
		}
		@include max-screen(550px){
			font-size: 16px;
		}
	}
	.board-setup {
		border-bottom: 1px dotted rgba(255, 255, 255, .3);
		display: table;
		margin-bottom: 35px;
		width: 100%;
		@include max-screen(550px){
			margin-bottom: 25px;
		}
	}
	ul {
		padding: 0 25px 15px;
		@include max-screen(550px){
			margin-bottom: 25px;
			padding-bottom: 5px;
		}
		&.view-options {
			overflow: hidden;
			margin-bottom: 0;
			padding-bottom: 0;
			li {
				float: left;
				width: 50%;
				@include max-screen(550px){
					float: none;
					width: 100%;
				}
			}
		}
	}
} // End Board Options

// Board Settings Form
.board-options .settings {
	background: rgba(255, 255, 255, .03);
	border-radius: 5px;
	form {
		overflow: hidden;
		padding: 25px;
		@include max-screen(255px){
			padding: 15px 5px;
		}
		label {
			color: rgba(255, 255, 255, .7);
			@include max-screen(550px){
				font-size: 14px;
			}
			@include max-screen(255px){
				font-size: 12px;
			}
			@include max-screen(190px){
				font-size: 10px;
			}
			&.checked { color: $white; }
		}
		fieldset.ticker-interval {
			background: rgba(255, 255, 255, .1);
			left: -15px;
			margin: 10px 0 0 0;
			position: relative;

			&:after {
				bottom: 0;
				content: '▼';
				color: $teal;
				font-size: 13px;
				position: absolute;
				pointer-events: none;
				right: 0;
				text-align: center;
				width: 37px;
				z-index: 2;
				@include max-screen(195px){
					right: -5px;
				}
			}
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent;
				border-radius: 5px;
				padding: 3px 10px;
				@include max-screen(195px){
					font-size: 12px;
				}
			}
		}
		.third {
			display: table-cell;
			padding-right: 15px;
			width: 40%;
			&.ticker { 
				width: 20%;
				padding-right: 0;
			}
			@include max-screen(960px){
				width: 33%;
				&.ticker { width: 33%; }
			}
			@include max-screen(767px){
				display: table;
				width: 100%;
				&.ticker { width: 100%; }
			}
		} // End Third
	} // End Form
} // End Settings

// App Info
.board-options .app-info {
	border-top: 1px dotted rgba(255, 255, 255, .3);
	line-height: 16px;
	margin-top: 25px;
	padding: 25px 15px;
	p { 
		font-size: 14px;
		margin: 0;
		@include max-screen(255px){
			font-size: 12px;
		}
	}
	small {
		color: rgba(255, 255, 255, .7);
		display: block;
		padding-top: 5px;
		@include max-screen(255px){
			font-size: 10px;
		}
	}
} // End App Info