@charset "UTF-8";
@keyframes rotate {
  0% {
    transform: rotate(-360deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes headerFadeOut {
  0% {
    background: #ECF0F1; }
  100% {
    background: rgba(190, 238, 251, 0.3); } }

.board-options {
  animation: .25s fadeIn forwards ease-in;
  opacity: 0;
  transition: .3s linear; }
  .board-options h1, .board-options h3, .board-options p, .board-options a {
    color: #FFF; }
  .board-options h1 {
    color: #008080;
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 15px;
    text-transform: uppercase; }
    @media screen and (max-width: 960px) {
      .board-options h1 {
        font-size: 24px; } }
    @media screen and (max-width: 320px) {
      .board-options h1 {
        font-size: 23px; } }
    @media screen and (max-width: 255px) {
      .board-options h1 {
        font-size: 20px;
        margin-bottom: 0;
        padding: 0 5px; } }
    @media screen and (max-width: 195px) {
      .board-options h1 {
        font-size: 18px; } }
  .board-options h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase; }
    @media screen and (max-width: 960px) {
      .board-options h3 {
        font-size: 18px; } }
    @media screen and (max-width: 550px) {
      .board-options h3 {
        font-size: 16px; } }
  .board-options .board-setup {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    display: table;
    margin-bottom: 35px;
    width: 100%; }
    @media screen and (max-width: 550px) {
      .board-options .board-setup {
        margin-bottom: 25px; } }
  .board-options ul {
    padding: 0 25px 15px; }
    @media screen and (max-width: 550px) {
      .board-options ul {
        margin-bottom: 25px;
        padding-bottom: 5px; } }
    .board-options ul.view-options {
      overflow: hidden;
      margin-bottom: 0;
      padding-bottom: 0; }
      .board-options ul.view-options li {
        float: left;
        width: 50%; }
        @media screen and (max-width: 550px) {
          .board-options ul.view-options li {
            float: none;
            width: 100%; } }

.board-options .settings {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 5px; }
  .board-options .settings form {
    overflow: hidden;
    padding: 25px; }
    @media screen and (max-width: 255px) {
      .board-options .settings form {
        padding: 15px 5px; } }
    .board-options .settings form label {
      color: rgba(255, 255, 255, 0.7); }
      @media screen and (max-width: 550px) {
        .board-options .settings form label {
          font-size: 14px; } }
      @media screen and (max-width: 255px) {
        .board-options .settings form label {
          font-size: 12px; } }
      @media screen and (max-width: 190px) {
        .board-options .settings form label {
          font-size: 10px; } }
      .board-options .settings form label.checked {
        color: #ECF0F1; }
    .board-options .settings form fieldset.ticker-interval {
      background: rgba(255, 255, 255, 0.1);
      left: -15px;
      margin: 10px 0 0 0;
      position: relative; }
      .board-options .settings form fieldset.ticker-interval:after {
        bottom: 0;
        content: '▼';
        color: #11cece;
        font-size: 12px;
        position: absolute;
        pointer-events: none;
        right: 0;
        text-align: center;
        width: 37px;
        z-index: 2; }
        @media screen and (max-width: 195px) {
          .board-options .settings form fieldset.ticker-interval:after {
            right: -5px; } }
      .board-options .settings form fieldset.ticker-interval select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        padding: 3px 10px; }
        @media screen and (max-width: 195px) {
          .board-options .settings form fieldset.ticker-interval select {
            font-size: 12px; } }
        .board-options .settings form fieldset.ticker-interval select option {
          color: #141D40; }
    .board-options .settings form .third {
      display: table-cell;
      padding-right: 15px;
      width: 40%; }
      .board-options .settings form .third.ticker {
        width: 20%;
        padding-right: 0; }
      @media screen and (max-width: 960px) {
        .board-options .settings form .third {
          width: 33%; }
          .board-options .settings form .third.ticker {
            width: 33%; } }
      @media screen and (max-width: 767px) {
        .board-options .settings form .third {
          display: table;
          width: 100%; }
          .board-options .settings form .third.ticker {
            width: 100%; } }

.board-options .app-info {
  border-top: 1px dotted rgba(255, 255, 255, 0.3);
  line-height: 16px;
  margin-top: 25px;
  padding: 25px 15px; }
  .board-options .app-info p {
    font-size: 14px;
    margin: 0; }
    @media screen and (max-width: 255px) {
      .board-options .app-info p {
        font-size: 12px; } }
  .board-options .app-info small {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    padding-top: 5px; }
    @media screen and (max-width: 255px) {
      .board-options .app-info small {
        font-size: 10px; } }
