@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("./fonts/icomoon/icomoon.ttf") format("truetype"), url("./fonts/icomoon/icomoon.woff") format("woff"), url("./fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pulse:before {
  content: "\f085"; }

.icon-refresh:before {
  content: "\f087"; }

.icon-coin-usd:before {
  content: "\e93b"; }

.icon-coin-euro:before {
  content: "\e93c"; }

.icon-spinner2:before {
  content: "\e97b"; }

.icon-settings:before {
  content: "\e994"; }

.icon-stats:before {
  content: "\e99b"; }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@keyframes rotate {
  0% {
    transform: rotate(-360deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes headerFadeOut {
  0% {
    background: #ECF0F1; }
  100% {
    background: rgba(190, 238, 251, 0.3); } }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 15px;
  cursor: pointer; }

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.65);
  box-shadow: none;
  content: '';
  height: 15px;
  left: -15px;
  position: absolute;
  top: 1px;
  width: 15px; }
  @media screen and (max-width: 255px) {
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      top: -1px; } }
  @media screen and (max-width: 190px) {
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      top: -2px; } }

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '•';
  color: #11cece;
  font-size: 15px;
  left: -9.5px;
  line-height: 0.8;
  position: absolute;
  top: 4px;
  transition: all .2s; }
  @media screen and (max-width: 414px) {
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      left: -9px; } }
  @media screen and (max-width: 255px) {
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      top: 2px; } }
  @media screen and (max-width: 190px) {
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      top: 1px; } }

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0.5); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #FFF;
  background-color: transparent; }

[type="checkbox"]:disabled:checked + label:after {
  color: #000; }

[type="checkbox"]:disabled + label {
  color: #000; }

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px; }

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 15px;
  cursor: pointer; }

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  background: transparent;
  border: 1px solid #000;
  box-shadow: none;
  content: '';
  height: 30px;
  left: -30px;
  position: absolute;
  top: -8px;
  width: 30px; }

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '☓';
  color: #000;
  font-size: 42.1px;
  left: -31px;
  line-height: 0.8;
  position: absolute;
  top: -9px;
  transition: all .2s; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0.5); }

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #FFF;
  background-color: transparent; }

[type="radio"]:disabled:checked + label:after {
  color: #000; }

[type="radio"]:disabled + label {
  color: #000; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

a {
  color: #141D40;
  text-decoration: none; }

body {
  font-size: 16px;
  color: #ECF0F1; }

h1, h2, h3, h4, h5 {
  color: #141D40;
  font-family: "Nunito Sans", sans-serif;
  margin: 0; }

p {
  color: #141D40;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100; }

.error {
  color: red; }

* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  background: #141D40;
  height: 2px;
  width: 2px; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #141D40; }

::-webkit-scrollbar-track {
  background: #141D40;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #008080;
  border-radius: 10px;
  stroke: 1px solid blue; }

html {
  height: 100%;
  min-height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  background: #141D40;
  color: #141D40;
  cursor: default;
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%;
  font-size: 16px;
  height: 100vh;
  height: 100%;
  line-height: 1.5em;
  margin: 0;
  user-select: none; }

img {
  height: auto;
  width: 100%; }

a, button, label, select {
  cursor: pointer; }

ul {
  padding: 0;
  list-style: none; }

ul.list__clean {
  list-style: none;
  padding: 0;
  margin: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }
  fieldset:last-child {
    margin-bottom: 0; }

label {
  color: rgba(255, 255, 255, 0.5);
  padding: 0; }
  label.checked {
    color: #FFF; }

select {
  border: 0;
  background: rgba(255, 255, 255, 0.07);
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  height: 25px;
  outline: none;
  width: 100%; }

.table {
  display: table;
  width: 100%; }
  .table__cell {
    display: table-cell;
    width: 50%; }

.outer-bounds {
  position: relative;
  padding: 0 3% 3%; }
  .outer-bounds__inner {
    display: table;
    width: 100%; }
